#introfeature{
    max-width: 60% !important;
}
.img-fld{
    max-width: 60% !important;
}
.cbcolor{
    background-image: linear-gradient(to top,limegreen, black);
}
.effectzoom:hover{
  
  transform: scale(1.1);
}
.effectzoom1:hover{
  
    transform: scale(1.3);
  }
  .banner{
      top:43%;
      bottom: 43%;
  }
