<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="/assets/images/image1.jpg" alt="First slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption banner">
        <h3 class="h3-responsive">Converting Dream into Passion</h3>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="/assets/images/image3.jpg" alt="Second slide">
        <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption banner">
        <h3 class="h3-responsive">Event Photography</h3>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="/assets/images/image7.jpg" alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption banner">
        <h3 class="h3-responsive">Birthday Photography</h3>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="/assets/images/image5.jpg" alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption banner">
        <h3 class="h3-responsive">wedding Photography</h3>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>

  <div style="padding-top: 50px;" class="container mt-5 mb-5">
    <section class="p-md-3 mx-md-5 text-lg-left">
      <div class="row text-center d-flex justify-content-center mt-4">
        <div class="col-lg-4 col-md-6 mb-5" id="introfeature" data-aos="fade-left" data-aos-delay="300">
          <i class="far fa-thumbs-up green-text fa-3x mb-4 effectzoom1"></i>
          <h4 class="font-weight-bold mb-4">The Right Click</h4>
          <p class="text-muted px-2 mb-lg-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
        <div class="col-lg-4 col-md-6 mb-5" id="introfeature" data-aos="fade-left" data-aos-delay="400">
          <i class="fas fa-trophy green-text fa-3x mb-4 effectzoom1 "></i>
          <h4 class="font-weight-bold mb-4">Recognised for excellence</h4>
          <p class="text-muted px-2 mb-lg-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
        <div class="col-lg-4 col-md-6 mb-5" id="introfeature" data-aos="fade-left" data-aos-delay="500">
          <i class="fas fa-wallet green-text fa-3x mb-4 effectzoom1"></i>
          <h4 class="font-weight-bold mb-4">Compare the best</h4>
          <p class="text-muted px-2 mb-md-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
    </section>
  </div>


  <div>


    <!--Section: Content-->
    <section class="white-text black">
  
      <div class="row">
        <div class="col-md-5 mb-7">
  
          <div>
            <img src="https://mdbootstrap.com/img/illustrations/graphics(2).png" class="img-fluid" alt="smaple image" data-aos="fade-down" data-aos-delay="700">
          </div>
  
        </div>
        <div class="col-md-5 d-flex align-items-center">
          <div>
            
            <h3 class="font-weight-bold mb-4">About Us</h3>
  
            <p>Our extremely talented staff of photographers don't simply take beautiful pictures, they produce works of art. From billboards to product photos, there is no job too big or too small. They bring experience, creativity, and out-of the-box thinking to every job - helping to capture the images you need and the ones you can't live without.</p>
  
            <button type="button" class="btn green"><a class="white-text" routerLink="/about-us">Know More</a></button>
  
          </div>
        </div>
      </div>
  
    </section>
    <!--Section: Content-->
  </div>


  <div class="container mt-5 mb-5">
    <!--Section: Content-->
    <section class="text-center dark-grey-text">
  
      <!-- Section heading -->
      <h3 class="font-weight-bold mb-4 pb-2">Testimonials</h3>
      <!-- Section description -->

  
      <!-- Grid row -->
      <div class="row">
  
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">
          <!--Card-->
          <div class="card testimonial-card effectzoom">
            <!--Background color-->
            <div class="card-up info-color"></div>
            <!--Avatar-->
            <div class="avatar mx-auto white">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg" class="rounded-circle img-fluid img-fld pt-2 pb-2">
            </div>
            <div class="card-body cbcolor">
              <!--Name-->
              <h4 class="font-weight-bold mb-4 white-text">John Doe</h4>
              <hr>
              <!--Quotation-->
              <p class="white-text mt-4"><i class="fas fa-quote-left pr-2"></i>Very professional and creative as well... Don't think twice while booking, they have an amazingly skilled team also... Damn sure if you book once, you'll book them everytime in future.</p>
            </div>
          </div>
          <!--Card-->
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">
          <!--Card-->
          <div class="card testimonial-card effectzoom">
            <!--Background color-->
            <div class="card-up blue-gradient">
            </div>
            <!--Avatar-->
            <div class="avatar mx-auto white">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="rounded-circle img-fluid img-fld pt-2 pb-2">
            </div>
            <div class="card-body cbcolor">
              <!--Name-->
              <h4 class="font-weight-bold mb-4 white-text">Anna Aston</h4>
              <hr>
              <!--Quotation-->
              <p class="white-text mt-4"><i class="fas fa-quote-left pr-2"></i>It is very rare when you can find an agency that partners well on all fronts. Incredible account management, breakthrough creative expertise and seamless execution… rare indeed!</p>
            </div>
          </div>
          <!--Card-->
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">
          <!--Card-->
          <div class="card testimonial-card effectzoom">
            <!--Background color-->
            <div class="card-up indigo"></div>
            <!--Avatar-->
            <div class="avatar mx-auto white">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded-circle img-fluid img-fld pt-2 pb-2">
            </div>
            <div class="card-body cbcolor">
              <!--Name-->
              <h4 class="font-weight-bold mb-4 white-text">Maria Kate</h4>
              <hr>
              <!--Quotation-->
              <p class="white-text mt-4"><i class="fas fa-quote-left pr-2"></i>I`m happy to recommend them my event is celebrated very well because of their service. The best and cinematic photographer i have ever seen before and i like it very much because they are the best</p>
            </div>
          </div>
          <!--Card-->
        </div>
        <!--Grid column-->
  
      </div>
      <!-- Grid row -->
  
    </section>
    <!--Section: Content-->
  
  
  </div>

  <div class="pt-5 pb-5 black">


    <!--Section: Content-->
    <section class="text-center white-text" data-aos="fade-left" data-aos-delay="400">

      <h3 class="font-weight-bold mb-4">Want to book an appointment?</h3>
 
      <p class="text-center w-responsive mx-auto mb-5">Drop a message for booking your appointment and we will get back to you!</p>

      <a class="btn btn-md btn-rounded green white-text" href="/contact-us" role="button">Click Here</a>

    </section>
    <!--Section: Content-->


  </div>

  <app-footer></app-footer>